.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #989898;
}

.footer__line {
  width: 100%;
  height: rem(2px);
  background-color: #565656;
}

.footer__info {
  padding: rem(30px) 0;
  display: flex;
  justify-content: space-between;
  font-family:' Open Sans', Arial, Helvetica, sans-serif;
  font-size: rem(12px);
}
